/** 
* Css form trang đăng kí nhận chiến lược
* Auther : Trần Quốc Thịnh - 0925850617
*/

* {
    margin: 0px;
    padding: 0px;
}

.conten {
    width: 80%;
    color: blue;
    font: 20px;
    border: 10px solid blue;
    border-top: 1px solid blue;
    border-left: 5px solid blue;
    border-bottom: 1px solid blue;
    border-right: 5px solid blue;
    border-radius: 15px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.conten-title,
.conten-sub {
    margin-top: 15px;
    margin-left: 35px;
}

.conten-title {
    color: rgb(11, 36, 73);
    font-size: 36px;
    font-family: "Poller One";
}

.conten-sub {
    color: rgb(0, 0, 0.5);
    font-size: 16px;
}

.form_cl {
    width: auto;
    height: auto;
    border: 1px solid rgb(38, 82, 3);
    background: rgb(38, 82, 3);
}

input[id=email_address] {
    float: left;
    margin-left: 25px;
}

input[id=number_phone],
[id=email_address] {
    width: 220px;
    height: 25px;
    margin: 20px auto;
    border: 1px solid rgb(43, 252, 1);
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
    margin: auto;
}

input[id=address],
[id=name] {
    width: 85%;
    height: 2em;
    border: 1px solid rgb(43, 252, 1);
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: auto;
}

.p-col2 {
    margin: 25px 15px 15px 15px;
}

button[id=submit-form]:hover {
    color: rgb(253, 6, 6);
    background-color: rgb(73, 29, 29);
    border-color: rgb(255, 255, 255);
    background-position: 0.75em bottom;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

:focus {
    background-position: 2em -4em;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input {
    color: blue;
}

select[id=option-md-tl] {
    width: 50%;
    height: auto;
    border: 1px solid rgb(4, 0, 252);
    margin-left: 25px;
    color: rgb(250, 0, 0);
    font-size: 18px;
}

.radio-gt {
    left: 35px;
    color: rgba(0, 0, 0);
    padding-top: 5px;
    margin-left: 15px;
}

button[id=submit-form] {
    background-color: #434e11;
    border: 2px solid #000000;
    border-left: 5px solid #000000;
    border-right: 5px solid #000000;
    border-radius: 20px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 35px;
}

.date {
    width: 25%;
    background: #6e9c12;
    padding: 10px 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.col-md-layot1 {
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.logo-form-avatar {
    width: 45%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
    font-family: "Pattaya";
    color: rgb(255, 0, 0.5);
    font-size: 30px;
    border: 2px solid rgb(125, 255, 3);
    border-right: 6px solid rgb(209, 255, 3);
    border-left: 6px solid rgb(209, 255, 3);
    border-radius: 25px;
}

footer {
    width: auto;
    height: auto;
}

.footer-skill {
    font-family: "Times New Roman";
    color: #dfdfdf;
    font-size: 16px;
    background: rgb(0, 0, 0);
    border: 25px solid rgba(0, 0, 0.5);
}

.footer_live {
    margin-bottom: 25px;
}

.tb-footer {
    border-spacing: 15px;
}

.from_ghost,
.table_text {
    height: auto;
}

.table_text {
    width: 47%;
    height: auto;
    float: right;
    color: rgb(41, 210, 240);
    border: 2px solid rgb(128, 193, 204);
    border-right: 6px solid rgb(128, 193, 204);
    border-left: 6px solid rgb(128, 193, 204);
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
    display: block;
    margin-top: 65px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.from_ghost {
    width: 40%;
    margin-left: 25px;
}

.sumit {
    width: 50%;
    float: center;
}

.full_form {
    width: auto;
    height: auto;
    background-color: rgb(197, 197, 197);
}

.table-title {
    width: 95%;
    height: auto;
    font-size: 22px;
    color: rgb(255, 0, 0);
    border: 3px solid rgb(252, 250, 250);
    border-radius: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}

.text-col-md1 {
    display: block;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}

.FBS {
    margin-top: 15px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}