/** Css form trang đăng kí nhận chiến lược */

.conten {
    width: 60%;
    color: blue;
    font: Time New 20px;
    border: 1px solid blue;
    border-radius: 15px;
    background-color: rgb(204, 195, 195);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form_cl {
    width: 35%;
    border: 25px solid rgb(38, 82, 3);
    background: rgb(38, 82, 3);
    margin-left: 35px;
    display: block;
}

input[id=name] {
    width: 90%;
    border: 5px ridge rgb(107, 100, 8);
    height: 20px;
}

input[id=number_phone] {
    width: 43%;
    float: right;
    border: 5px ridge rgb(107, 100, 8);
}

input[id=email_address] {
    width: 50%;
    border: 5px ridge rgb(107, 100, 8);
}

input[id=address] {
    width: 97%;
    height: 40px;
    border: 5px ridge rgb(107, 100, 8);
}

button[id=submit-form]:hover {
    color: #0cd4e29c;
    background-color: rgb(73, 29, 29);
    border-color: rgb(255, 255, 255);
    background-position: 0.75em bottom;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

:focus {
    background-position: 2em -4em;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input {
    color: blue;
}

.radio-gt {
    left: 35px;
    color: rgba(0, 0, 0);
    padding-top: 5px;
}

button[id=submit-form] {
    background-color: #434e11;
    border: 2px solid #000000;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.date {
    width: 25%;
    background: #6e9c12;
    padding: 10px 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_table {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    width: 100%;
    height: 1000px;
    float: center;
    color: #11171b;
    padding-top: 35px;
}

footer {
    font-family: "Times New Roman";
    color: #dfdfdf;
    font-size: 20;
    background: #000000;
    border: 25px solid #000000;
    border-top: 15px solid rgb(75, 75, 3.5);
    border-bottom: 15px solid rgb(75, 75, 3.5);
}

.from_ghost {
    width: auto;
    height: auto;
    background-image: url("https://drive.google.com/uc?id=1GqKyPpe_uzUJCaJNyz5StV62U1uCII1O");
    border: 25px solid rgb(255, 255, 255);
    float: center;
    border-top: 15px solid rgb(75, 75, 3.5);
    border-bottom: 15px solid rgb(75, 75, 3.5);
    border-right: 15px solid rgb(75, 75, 3.5);
    border-left: 15px solid rgb(75, 75, 3.5);
}

.sumit {
    width: 50%;
    float: center;
}

.full_form {
    background-color: rgb(255, 255, 255);
}

.table_text {
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0.5);
    float: right;
    border: 25px solid rgb(0, 0, 0.5);
    border-radius: 25px;
    text-align: left;
    font-size: 20px;
    color: rgb(41, 210, 240);
    top: auto;
    left: auto;
}

.table-title {
    width: auto;
    color: rgb(255, 0, 0);
    border: 1px solid rgb(252, 250, 250);
    border-radius: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.FBS {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}