/*
Thuộc tính phần tử trong index
@ Tác giả : Trần Quốc Thịnh
@ Số điện thoại : 0925850617
*/

* {
    margin: 0px;
    padding: 0px;
}

.conten-title,
.conten-sub {
    margin-top: 15px;
    margin-left: 35px;
}

.conten-title {
    color: rgb(11, 36, 73);
    font-size: 36px;
    font-family: "Poller One";
}

.conten-sub {
    color: rgb(51, 50, 11);
}

.date {
    width: 500px;
    height: 20px;
    background: rgba(119, 47, 47, 0.438);
    border: 1px solid rgba(3, 253, 253, 0.568);
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: "Time New Roman";
    float: center;
}

.date:hover {
    width: 800px;
    height: 30px;
    background: rgba(16, 56, 78, 0.966);
    font-size: 25px;
    color: rgba(253, 253, 253, 0.863);
    border: 3px solid red;
    border-radius: 11px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.table-fxcl {
    margin-left: 85px;
    margin-right: 85px;
}

.brokers {
    width: 200px;
    height: auto;
    border-top: 5px solid rgb(177, 119, 11);
    margin-left: 85px;
}

.cale {
    width: auto;
    height: 300px;
    float: center;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 55px;
}

.broker-centen {
    width: 570px;
    text-align: left;
    color: rgba(0, 0, 0);
    font-size: 25px;
}

.pictre-centen {
    width: 800px;
    height: 400px;
    margin-top: 20px;
    margin-left: 25px;
    opacity: 2;
}

.centen-delp {
    width: 100%;
    height: 60%;
    background-color: rgb(51, 45, 45);
    color: rgb(16, 163, 221);
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: "Oswald";
}

.title-txslfg-gdd {
    color: rgb(255, 0, 0);
    font-family: "Time New Roman";
}

table {
    border-spacing: 15px;
}

.fbs-banner,
.exness-banner,
.xm-banner {
    width: 250px;
    height: auto;
    background-color: rgba(146, 144, 144, 0.836);
}

.FBS-logo,
.XM-logo,
.Exness-logo {
    border: 1px solid rgb(255, 238, 0.5);
    display: inline-block;
    height: 80px;
}

.FBS-logo {
    width: 100px;
}

.Exness-logo {
    width: 150px;
}

.XM-logo {
    width: 150px;
}

.fbs-html {
    height: 97px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tex-lolo,
.boder-texl {
    width: auto;
    height: 160px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 85px;
    margin-right: 85px;
    background-color: rgba(36, 159, 163, 0.774);
    border: 1px solid rgb(176, 250, 126);
    border-radius: 35px;
}

.tex-bill,
.tex-cfxk {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    vertical-align: left;
    text-align: justify;
    font-size: 18px;
    display: block;
}

.centen-fxls,
.centen-lksd {
    width: auto;
    height: auto;
    color: rgba(255, 0, 0, 0.925);
    text-align: left;
    margin-left: 85px;
    font-size: 25px;
}

footer {
    width: auto;
    height: auto;
}

.footer-skill {
    font-family: "Times New Roman";
    color: #dfdfdf;
    font-size: 20;
    background: rgba(0, 0, 0.5);
    border: 25px solid rgba(0, 0, 0.5);
}

.index-body {
    background-color: rgb(197, 197, 197);
}