* {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 900px) {
    table.title-txslfg-gdd {
        width: 95%;
        height: 45%;
        border-spacing: 5%;
        font-size: 16px;
        border: 1px solid rgb(165, 253, 2);
        border-radius: 20px;
        padding: 5px 5px 5px;
        background-color: rgb(255, 255, 255);
    }
    ul.list-supvicer {
        color: rgb(0, 22, 219);
    }
    table.cale {
        width: auto;
        height: 600px;
        margin: auto;
        display: block;
        padding: 20px 20px 20px;
    }
    div.date {
        width: auto;
        height: auto;
        font-size: 16px;
        background-color: #faf9f9;
        color: blue;
        margin: 5px auto;
        display: block;
        border: 1px hidden;
        border-radius: 5px;
    }
    div.date:hover {
        width: auto;
        height: auto;
        font-size: 16px;
        background-color: black;
        color: rgb(255, 255, 255);
        margin: 5px auto;
        display: block;
        border: 1px hidden;
        border-radius: 5px;
    }
    img.pictre-centen {
        width: 820px;
        height: 600px;
        margin: auto;
        display: block;
        padding: 10px 10px 10px;
    }
    div.fbs-html {
        width: 800px;
        height: 100px;
        margin: auto;
        display: block;
    }
    table.table-cl-jx-fx {
        width: 800px;
        height: auto;
        font-size: 18px;
    }
    div.TRT,
    h4.jx-centen {
        font-size: 18px;
    }
}

@media screen and (max-width: 850px) {
    img.pictre-centen {
        width: 750px;
        height: 550px;
        margin: auto;
        display: block;
        padding: 10px 10px 10px;
    }
    div.fbs-html {
        width: 750px;
        height: 95px;
        margin: auto;
        display: block;
    }
    table.table-cl-jx-fx {
        width: 750px;
        height: auto;
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    img.pictre-centen {
        width: 720px;
        height: 520px;
        margin: auto;
        display: block;
        padding: 10px 10px 10px;
    }
    div.fbs-html {
        width: 600px;
        height: 90px;
        margin: auto;
        display: block;
    }
    table.table-cl-jx-fx {
        width: 700px;
        height: auto;
        font-size: 18px;
    }
}

@media screen and (max-width: 750px) {
    img.pictre-centen {
        width: 650px;
        height: 520px;
        margin: auto;
        display: block;
        padding: 10px 10px 10px;
    }
    div.fbs-html {
        width: 550px;
        height: 85px;
        margin: auto;
        display: block;
    }
    table.table-cl-jx-fx {
        width: 650px;
        height: auto;
        font-size: 18px;
    }
}

@media screen and (max-width: 700px) {
    img.pictre-centen {
        width: 620px;
        height: 450px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
    div.fbs-html {
        width: 500px;
        height: 80px;
        margin: auto;
        display: block;
    }
    table.table-cl-jx-fx {
        width: 600px;
        font-size: 16px;
    }
    div.TRT,
    table.title-txslfg-gdd,
    h4.jx-centen {
        font-size: 16px;
    }
}

@media screen and (max-width: 650px) {
    img.pictre-centen {
        width: 550px;
        height: 450px;
        margin: auto;
        display: block;
        padding: 10px 10px 10px;
    }
    div.fbs-html {
        width: 450px;
        height: 75px;
        margin: auto;
        display: block;
    }
    table.table-cl-jx-fx {
        width: 550px;
    }
}

@media screen and (max-width: 600px) {
    img.pictre-centen {
        width: 550px;
        height: 400px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
    div.date {
        font-size: 12px;
    }
    div.date:hover {
        font-size: 12px;
    }
    div.fbs-html {
        width: 400px;
        height: 70px;
        margin: auto;
        display: block;
    }
    table.table-cl-jx-fx {
        width: 500px;
    }
}

@media screen and (max-width: 550px) {
    img.pictre-centen {
        width: 520px;
        height: 420px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
    div.fbs-html {
        width: 350px;
        height: 65px;
        margin: auto;
        display: block;
    }
    table.table-cl-jx-fx {
        width: 450px;
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    img.pictre-centen {
        width: 420px;
        height: 320px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
    div.fbs-html {
        width: 300px;
        height: 60px;
        margin: auto;
        display: block;
    }
    table.table-cl-jx-fx {
        width: 400px;
        font-size: 12px;
    }
    div.TRT,
    table.title-txslfg-gdd,
    h4.jx-centen {
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    img.pictre-centen {
        width: 320px;
        height: 220px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
    div.fbs-html {
        width: 250px;
        height: 55px;
        margin: auto;
        display: block;
    }
    table.table-cl-jx-fx {
        width: 350px;
    }
}

@media screen and (max-width: 300px) {
    img.pictre-centen {
        width: 250px;
        height: 150px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
    div.fbs-html {
        width: 200px;
        height: 50px;
        margin: auto;
        display: block;
    }
    table.table-cl-jx-fx {
        width: 200px;
        font-size: 12px;
    }
}

@media screen and (max-width: 250px) {
    img.pictre-centen {
        width: 150px;
        height: 100px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
    div.fbs-html {
        width: 150px;
        height: 45px;
        margin: auto;
        display: block;
    }
    table.table-cl-jx-fx {
        width: 150px;
    }
}

@media screen and (max-width: 200px) {
    img.pictre-centen {
        width: 150px;
        height: 95px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
    div.fbs-html {
        width: 100px;
        height: 40px;
        margin: auto;
        display: block;
    }
    table.table-cl-jx-fx {
        width: 100px;
        font-size: 10px;
    }
    div.date {
        font-size: 10px;
    }
    div.date:hover {
        font-size: 10px;
    }
    div.TRT,
    h4.jx-centen {
        font-size: 10px;
    }
}

@media screen and (max-width: 150px) {
    img.pictre-centen {
        width: 100px;
        height: 97px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
    div.fbs-html {
        width: 95px;
        height: 35px;
        margin: auto;
        display: block;
    }
    table.table-cl-jx-fx {
        width: 95px;
    }
}

@media screen and (max-width: 100px) {
    img.pictre-centen {
        width: 50px;
        height: 45px;
        margin: auto;
        display: block;
        padding: 2px 2px 2px;
    }
    div.fbs-html {
        width: 90px;
        height: 40px;
        margin: auto;
        display: block;
    }
    table.table-cl-jx-fx {
        width: 85%;
        font-size: 9px;
        margin: 5px auto;
        display: block;
    }
    td.col-md-1 {
        width: auto;
        height: auto;
        text-align: center;
    }
    div.date {
        font-size: 9px;
    }
    div.date:hover {
        font-size: 9px;
    }
    div.TRT,
    table.title-txslfg-gdd,
    h4.jx-centen {
        font-size: 9px;
    }
}