* {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 900px) {
    table.cale {
        width: auto;
        height: 600px;
        margin: auto;
        display: block;
        padding: 20px 20px 20px;
    }
    div.date {
        width: auto;
        height: auto;
        font-size: 16px;
        background-color: #faf9f9;
        color: blue;
        margin: 5px auto;
        display: block;
        border: 1px hidden;
        border-radius: 5px;
    }
    div.date:hover {
        width: auto;
        height: auto;
        font-size: 16px;
        background-color: black;
        color: rgb(255, 255, 255);
        margin: 5px auto;
        display: block;
        border: 1px hidden;
        border-radius: 5px;
    }
    img.pictre-centen {
        width: 820px;
        height: 600px;
        margin: auto;
        display: block;
        padding: 10px 10px 10px;
    }
}

@media screen and (max-width: 850px) {
    img.pictre-centen {
        width: 750px;
        height: 550px;
        margin: auto;
        display: block;
        padding: 10px 10px 10px;
    }
}

@media screen and (max-width: 800px) {
    img.pictre-centen {
        width: 720px;
        height: 520px;
        margin: auto;
        display: block;
        padding: 10px 10px 10px;
    }
}

@media screen and (max-width: 750px) {
    img.pictre-centen {
        width: 650px;
        height: 520px;
        margin: auto;
        display: block;
        padding: 10px 10px 10px;
    }
}

@media screen and (max-width: 700px) {
    img.pictre-centen {
        width: 620px;
        height: 450px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
}

@media screen and (max-width: 650px) {
    img.pictre-centen {
        width: 550px;
        height: 450px;
        margin: auto;
        display: block;
        padding: 10px 10px 10px;
    }
}

@media screen and (max-width: 600px) {
    img.pictre-centen {
        width: 550px;
        height: 400px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
}

@media screen and (max-width: 550px) {
    img.pictre-centen {
        width: 520px;
        height: 420px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
}

@media screen and (max-width: 500px) {
    img.pictre-centen {
        width: 420px;
        height: 320px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
}

@media screen and (max-width: 450px) {
    img.pictre-centen {
        width: 320px;
        height: 220px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
}

@media screen and (max-width: 300px) {
    img.pictre-centen {
        width: 250px;
        height: 150px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
}

@media screen and (max-width: 250px) {
    img.pictre-centen {
        width: 150px;
        height: 100px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
}

@media screen and (max-width: 200px) {
    img.pictre-centen {
        width: 150px;
        height: 95px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
}

@media screen and (max-width: 150px) {
    img.pictre-centen {
        width: 100px;
        height: 97px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
}

@media screen and (max-width: 100px) {
    img.pictre-centen {
        width: 90px;
        height: 80px;
        margin: auto;
        display: block;
        padding: 5px 5px 5px;
    }
}