* {
    padding: 0px;
    margin: 0px;
}

.pages-body {
    width: auto;
    height: auto;
    background-color: rgb(197, 197, 197);
}

.conten-title,
.conten-sub {
    margin-top: 15px;
    margin-left: 35px;
}

.conten-title {
    color: rgb(11, 36, 73);
    font-size: 36px;
    font-family: "Poller One";
}

.conten-sub {
    color: rgb(0, 0, 0.5);
    font-size: 16px;
}

.pages-layout-1 {
    width: auto;
    height: auto;
}

.conten-title-pages {
    width: 70%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    display: block;
    color: rgb(1, 18, 253);
    font-size: 25px;
    font-family: 'Times New Roman';
}

.date {
    display: block;
    font-size: 18px;
    margin: 1% 1% 1% 15%;
}

.md-text {
    display: block;
    margin: 5% 5% 5% 5%;
    background-color: rgb(212, 206, 206);
    border: 1px solid rgb(110, 12, 12);
    border-radius: 18px;
    border-left: 3px solid rgb(110, 12, 12);
    border-right: 3px solid rgb(110, 12, 12);
}

.md-text-box {
    text-align: justify;
    font-size: 20px;
    margin: 1% 1% 1% 1%;
    display: block;
    color: rgb(0, 0, 0.5)
}

.md-text-2 {
    border: 1px solid rgb(110, 12, 12);
    border-left: 3px solid rgb(110, 12, 12);
    border-right: 3px solid rgb(110, 12, 12);
    border-radius: 6%;
    margin: 3% 3% 3% 3%;
    display: block;
    text-align: justify;
}

.md-text-box-2 {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    text-align: justify;
    color: rgb(51, 0, 0);
    font-size: 20px;
}

.centen-x {
    font-size: 24px;
    color: rgb(240, 6, 6.5);
    margin: 0.5% 0.5% 0.5% 0.5%;
    text-align: justify;
    /* Đây là thuộc tính chữ phân trang*/
}

.centen-xy-loili {
    color: rgb(0, 0, 0.5);
}

.list-md {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}


/* Form pages*/

.tl-fox-boz {
    width: auto;
    height: auto
}

.tl-centen-text-form {
    width: 80%;
    height: auto;
    margin-left: 10%;
    display: block;
    border: 1px hidden;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.tl-form-warmas {
    width: 90%;
    height: auto;
    display: block;
}

input[id=name-tl],
p[id=tl-md-p] {
    float: left;
}

input[id=name-tl],
[id=phone-tl] {
    width: 200px;
    height: 35px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    margin-top: 0.5%;
    padding: 15px 15px 15px 15px;
    margin-bottom: 0.5%;
    margin-left: 3%;
    margin-right: 20%;
    font-size: 14px;
    color: rgb(0, 0, 0);
    display: block;
}

textarea[id=nd-flt] {
    width: 100%;
    height: 100px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 7px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    resize: none;
    display: block;
    margin-left: 3%;
    padding: 15px 15px 15px 15px;
}

input[id=send-tl] {
    width: 70px;
    height: 30px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 3%;
    margin-right: 0.5%;
    display: block;
}

.form-tlx-mdx {
    width: 90%;
    height: auto;
}

.fbs-html {
    height: 97px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer {
    width: auto;
    height: auto;
}

.footer-skill {
    font-family: "Times New Roman";
    color: #dfdfdf;
    font-size: 20;
    background: rgba(0, 0, 0.5);
    border: 25px solid rgba(0, 0, 0.5);
}

.tb-footer {
    border-spacing: 15px;
}